@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-color: @ViewData["BackgroundColor"];
    }
    h1 {
        color: @ViewData["FontColor"];
        font-size: @ViewData["FontSize"];
    }
</style>
<head>
    <title>Index View</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h1>@ViewData["Message"]</h1>
            </div>
        </div>
        <br />
        <div class="row m-auto">
            <div class="col-5 border p-3 ">
                <form asp-controller="Home" asp-action="AddKey">
                    <h5>Add/Update Key</h5>
                        <div>
                            <label for="AddKey">Key</label>
                            <input type="text" id="AddKey" name="key" value="" class="form-control" placeholder="Please enter your azure key" />
                        </div>

                        <div>
                            <label for="AddValue">Value</label>
                            <input type="text" id="AddValue" name="value" value="" class="form-control" placeholder="Please enter your azure key's value" />
                        </div>
                        <br />
                        <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
                </form>
            </div>
            <div class="col-5 border p-3 offset-1">
                <form asp-controller="Home" asp-action="DeleteKey">
                    <h5>Delete Key</h5>
                        <div>
                            <label for="DeleteKey">Key Value</label>
                            <input type="text" id="DeleteKey" name="key" value="" class="form-control" placeholder="Please enter your azure key" />
                        </div>
                        <br />
                        <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
                </form>
            </div>
        </div>
        <br />
        <div class="col-9">
            <h5>Key List</h5>
            <table class="table">
                <tr>
                    <th>Etag</th>
                    <th>Key</th>
                    <th>Label</th>
                    <th>Content Type</th>
                    <th>Value</th>
                    <th>Tags</th>
                    <th>Locked</th>
                    <th>Last Modified</th>
                </tr>

                @foreach (var x in ViewData["Keys"] as List
              <KeyValue>
                  )
                {

                    <tr>
                        <td>@Html.Encode(x.Etag)</td>
                        <td>@Html.Encode(x.Key)</td>
                        <td>@Html.Encode(x.Label)</td>
                        <td>@Html.Encode(x.Content_Type)</td>
                        <td>@Html.Encode(x.Value)</td>
                        <td>@Html.Encode(x.Tags)</td>
                        <td>@Html.Encode(x.Locked)</td>
                        <td>@Html.Encode(x.Last_Modified)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>